img.activator{
    height: 221px;
}
.titill{
    white-space: nowrap;
    display:block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.takkar button{
    margin-top: 20px;
    margin-bottom: 20px;
}
.takkar button:active{
    background-color: lightgray;
    color: lightgray;
}
body{
    overflow-y: scroll;
}